.hero,
.hero > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: min(100vh, 860px); */
  height: 100vh;
}
.hero video {
  z-index: -1;
  object-fit: cover;
  outline: 1px solid hsl(0, 0%, 88%);
  box-shadow: 0 0 50px hsl(0, 0%, 80%);
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    width: min(100%, 700px);
    font-weight: 200;
    border: none;
  }
}
video {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.link-pym4b {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.25rem;
  width: 6.5rem;
  height: 3rem;
  margin: auto;
  padding: 0.25rem;
  transition: translate 250ms ease-in-out;
  background-color: #333;
  color: hsl(0, 0%, 50%);
  line-height: 12pt;
  font-size: 12pt;
  font-weight: 300;
  border: 1px solid hsl(0, 0%, 50%);
  outline: none;
  img {
    height: 3rem;
  }
}

.link-pym4b:hover {
  translate: 0 -0.25rem;
  background-color: #404040;
  color: white;
}
