.hero,
.hero > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: min(100vh, 860px); */
  height: 100vh;
}
.hero video {
  z-index: -1;
  object-fit: cover;
  outline: 1px solid hsl(0, 0%, 88%);
  box-shadow: 0 0 50px hsl(0, 0%, 80%);
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    width: min(100%, 700px);
    font-weight: 200;
    border: none;
  }
}
video {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-pym4b {
  margin: auto;
  transition: translate 250ms ease-in-out;
  img {
    aspect-ratio: 1;
    width: 3.3rem;
  }
}

.btn-pym4b:hover {
  translate: 0 -0.33rem;
  button {
    background-color: #353535;
  }
}
