.site-header {
  background-color: #333;
  position: fixed;
  top: 1rem;
  left: 50%;
  translate: -50%;
  display: flex;
  gap: 0.5rem;
  padding: 0 0.25rem;
  height: 3rem;
  width: max-content;
  a {
    display: flex;
    padding: 0.33rem;
    background-size: 2.33rem;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
  }

  #home {
    background-image: url(/src/assets/home-white.png);
  }
  #home:hover {
    background-image: url(/src/assets/home-yellow.png);
  }
  #blog {
    background-image: url(/src/assets/blog-white.png);
  }
  #blog:hover {
    background-image: url(/src/assets/blog-yellow.png);
  }
  #pym4b {
    background-image: url(/src/assets/pym4b-white.png);
  }
  #pym4b:hover {
    background-image: url(/src/assets/pym4b-yellow.png);
  }
  #dyn {
    background-image: url(/src/assets/dyn-white.png);
  }
  #dyn:hover {
    background-image: url(/src/assets/dyn-yellow.png);
  }
  a.active {
    outline: 1pt solid yellow;
  }
}
