#login-button {
  z-index: 1;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  background-color: #353535;
  color: white;
  padding: 0.5rem;
  /* border-radius: 0.5rem; */
  border: none;
  outline: none;
  display: flex;
  gap: 0.5rem;
  svg {
    min-width: 16px;
  }
}

#login-button:hover {
  background-color: #757575;
}

#login-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  div {
    background-color: white;
    padding: 1rem;
    border: 1px solid #353535;
    width: min(25rem, 90vw);
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    color: darkgrey;
    margin-top: 1rem;
  }
  input {
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    font-size: 12pt;
    padding: 0.15rem;
  }
  input:focus {
    outline: none;
    border-bottom: 1px solid hsl(0, 0%, 33%);
  }
  button {
    margin: 2rem 0 0 auto;
    max-width: fit-content;
    background-color: #353535;
    border: none;
    padding: 0.5rem;
    color: white;
    transition: translate 250ms ease-in-out;
  }
  button:hover {
    background-color: #757575;
    translate: 0 -3px;
  }
}
