:root {
  /* color-scheme: light dark; */
  background-color: var(--color-dark-white);

  --color-ivory: #fffff0;
  --color-dark-white: #f1f6f5;
  --color-primary: #242424;

  --main-max-width: 1012px;
}

#root {
  /* max-width: 1280px; */
  padding-top: 5rem;
}

footer {
  background-color: var(--color-primary);
  color: var(--color-dark-white);
  width: min(var(--main-max-width), calc(100% - 2rem));
  margin: 0 auto;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: small;
  * {
    margin: 0;
  }
  .contacts {
    display: flex;
    gap: 0.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: darkgray;
    }
  }
}

nav.site-header {
  background-color: var(--color-primary);
  z-index: 1;
  position: fixed;
  top: 1rem;
  left: 50%;
  translate: -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: max-content;
  margin: auto;
  padding: 0.5rem 0.75rem;

  a {
    background-size: contain;
    display: block;
    aspect-ratio: 1 / 1;
    width: 2rem;
    color: transparent;
  }

  #home {
    background-image: url(assets/home-white.png);
  }
  #home:hover {
    background-image: url(assets/home-yellow.png);
  }
  #blog {
    background-image: url(assets/blog-white.png);
  }
  #blog:hover {
    background-image: url(assets/blog-yellow.png);
  }
  #pym4b {
    background-image: url(assets/pym4b-white.png);
  }
  #pym4b:hover {
    background-image: url(assets/pym4b-yellow.png);
  }
  #dyn {
    background-image: url(assets/dyn-white.png);
  }
  #dyn:hover {
    background-image: url(assets/dyn-yellow.png);
  }
  a.active {
    outline: 1pt solid yellow;
  }
}

.main {
  background-color: white;
  color: var(--color-primary);
  width: min(var(--main-max-width), calc(100% - 2rem));
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

blockquote {
  background-color: hsl(0, 0%, 90%);
  border-left: 2pt solid darkgray;
  padding: 0.1rem 0.5rem;
  position: relative;
}

i.copy-icon {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  float: right;
  background-image: url("https://img.icons8.com/?size=100&id=cTgJnRhpif49&format=png&color=000000");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.1rem;
  aspect-ratio: 1;
  margin: 0.1rem;
  cursor: pointer;
  transition: scale 0.1s ease-in-out;
}

i.copy-icon:hover {
  scale: 1.1;
}

ol.ol-code {
  counter-reset: item;
  list-style-type: none;
  padding: 0;
  outline: 1px solid lightgray;

  li {
    padding: 0 0.5rem;
    counter-increment: item;
    display: grid;
    grid-template-columns: 2.2rem 1fr;
  }
  li:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
  }
  li:before {
    content: counter(item) "  ";
  }
}
pre {
  overflow-x: auto;
}
