:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  --color-first: #41baae;
  --color-second: #de5021;
  --color-third: #dec328;
  --color-action: #646cff;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

* {
  max-width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  box-sizing: border-box;
  background-color: white;
  flex: 1;
  padding: 1rem;
  width: min(860px, 100vw);
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.framed {
  padding: 3rem;
  border: 1px solid hsl(0, 0%, 80%);
  h1:first-child {
    margin-top: 0;
  }
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 400;
}

h2 {
  border-top: 1px solid hsl(0, 0%, 80%);
}

.color-1 {
  color: var(--color-first);
}
.color-2 {
  color: var(--color-second);
}
.color-3 {
  color: var(--color-third);
}
.color-action {
  color: var(--color-action);
}

.image-small,
.image-large {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: small;
    color: grey;
    font-style: italic;
    margin: 0;
  }
}
.image-small > img {
  width: min(100%, 350px);
}
.image-large > img {
  width: 100%;
}

.button-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  li {
    outline: 1px solid hsl(0, 0%, 80%);
    padding: 0.15rem 0.3rem;
    color: hsl(0, 0%, 80%);
    transition: 250ms;
  }
  li:hover {
    outline-color: grey;
    color: grey;
    cursor: pointer;
  }
  li.active {
    color: grey;
    text-decoration: underline;
  }
}

@media (max-width: 800px) {
  /* body {
    overflow: hidden;
  } */
  .framed {
    padding: 0.5rem;
  }
}
