footer {
  box-sizing: border-box;
  background-color: #333;
  color: white;
  font-size: smaller;
  padding: 1rem;
  width: min(860px, 100vw);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  * {
    margin: 0;
  }
  .contacts {
    display: flex;
    gap: 0.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: darkgray;
    }
  }
  .register {
    border: 1px solid hsl(0, 0%, 50%);
    padding: 1rem;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
    p {
      font-size: 14pt;
      flex-basis: 100%;
      margin-bottom: 0.5rem;
    }
    div {
      flex: 1;
      display: flex;
      gap: 1rem;
      div {
        gap: 0.15rem;
        display: flex;
        flex-direction: column;
      }
    }
    input {
      background: none;
      outline: none;
      border: none;
      border-bottom: 1px solid hsl(0, 0%, 50%);
      color: white;
      text-align: right;
    }
    button {
      background-color: #333;
      outline: none;
      border: 1px solid hsl(0, 0%, 50%);
      color: hsl(0, 0%, 50%);
      transition: translate 250ms ease-in-out;
    }
    button:hover {
      translate: 0 -0.2rem;
      background-color: #404040;
      color: white;
    }
  }
}
