.post-categories {
  display: flex;
  justify-content: space-between;
  ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    a {
      padding: 0.25rem;
      border: 1px solid;
    }
    a.current {
      color: #535bf2;
    }
  }
  * {
    margin: 0;
    color: darkgray;
  }
}

.post-metadata {
  display: flex;
  justify-content: space-between;
  a,
  p,
  button {
    font-size: small;
    color: darkgrey;
    margin: 0;
    border: none;
    background: none;
  }
  div:first-child {
    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.25rem;
    }
  }
  div:nth-child(2) {
    svg {
      margin-right: 0.25rem;
    }
    button {
      height: 1.5rem;
      float: right;
    }
  }
}

.comment {
  border-top: 1px solid darkgray;
  margin-bottom: 1rem;

  .comment-head {
    display: flex;
    justify-content: space-between;
  }
  .comment-body {
  }
  .comment-interactions {
    gap: 0.15rem;
    display: flex;
    button {
      transition: background-color 250ms ease-in-out;
      color: darkgray;
      padding: 0.25rem;
      border-radius: 0.5rem;
      border: none;
      background-color: transparent;
      sup {
        margin-left: 0.15rem;
      }
    }
    button:hover {
      background-color: hsl(0, 0%, 95%);
    }
  }
}
